@charset "utf-8";
@use './variables.scss';
@use './reset.scss';
@use './layout.scss';

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
