---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
  <section class="about-me-section">
  </section>
</PageLayout>

<style lang="scss">
  .about-me-section {
    padding: 16px;
  }
</style>