---
import PageLayout from '../layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PageLayout
	title="devmkki"
  description="mkki의 블로그"
>
  <section class="article-section">
    <h2 class="sr-only">최근 포스트</h2>
    {
      posts.map((post) => (
        <ariticle class="article">
          <a href={`/${post.id}`}>
            <h3 class="title">{post.data.title}</h3>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <p class="description">{post.data.description}</p>
          </a>
        </ariticle>
      ))
    }
  </section>
</PageLayout>

<style lang="scss">
  .article-section {
    box-sizing: border-box;
    max-width: 800px;
    padding: 20px;
  }
  .article {
    & + .article {
      margin-top: 20px;
    }
  }
</style>