---
import PageLayout from '../layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<PageLayout>
  <section class="article-section">
    <h2 class="sr-only">전체 포스트</h2>
    {
      posts.map((post) => (
        <article class="article">
          <a href={`/${post.id}`} class="article-link">
            <h3 class="article-title">{post.data.title}</h3>
            <p class="article-date">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <p class="article-description">{post.data.description}</p>
          </a>
        </article>
      ))
    }
  </section>
</PageLayout>

<style lang="scss">
  .article-section {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    padding: 12px 16px 24px;
  }

  .article {
    & + .article {
      margin-top: 8px;
    }
  }
  .article-link {
    display: block;
    padding: 16px 0;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .article-title {
    font-size: 24px;
    color: var(--color-text-primary);
    line-height: 36px;
  }

  .article-date {
    margin-top: 4px;
    font-size: 14px;
    color: var(--color-text-tertiary);
    line-height: 20px;
  }

  .article-description {
    margin-top: 4px;
    font-size: 16px;
    color: var(--color-text-secondary);
    line-height: 24px;
  }

  @media screen and (min-width: 1024px) {
    .article-link {
      transition: scale 0.2s ease-in-out;

      &:hover {
        scale: 1.005;
      }
    }
  }
</style>
