---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const currentSlug = `/${subpath?.[0] || ''}`;

const isAboutPage = currentSlug === '/about';
const isActive = (href === '/' && !isAboutPage) || href === currentSlug;
---

<a href={href} class="page-link" aria-current={isActive ? 'page' : undefined}>
  <slot />
</a>

<style lang="scss">
  .page-link {
    display: block;
    padding: 8px;
    font-size: 16px;
    color: var(--color-text-primary);
    line-height: 24px;

    &:not([aria-current='page']) {
      opacity: 0.4;
      &:hover {
        opacity: 0.7;
      }
    }

    &[aria-current='page'] {
      font-weight: bold;
      opacity: 1;
    }
  }

  @media screen and (min-width: 768px) {
    .page-link {
      font-size: 18px;
      line-height: 28px;
    }
  }

  @media screen and (min-width: 1024px) {
    .page-link {
      font-size: 20px;
      line-height: 30px;
      transition: scale 0.1s ease-in-out;

      &:not([aria-current='page']) {
        &:hover {
          scale: 1.02;
        }
      }
    }
  }
</style>
