---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="header">
  <nav class="navigation">
    <h1 class="title">
      <a href="/" class="title-link">{SITE_TITLE}</a>
    </h1>
    <ul class="menu">
      <li class="menu-item">
        <HeaderLink href="/">Posts</HeaderLink>
      </li>
      <li class="menu-item">
        <HeaderLink href="/about">About</HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-background-primary);
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navigation {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 8px;
  }

  .title {
    flex: 0 0 auto;
  }

  .title-link {
    display: block;
    font-size: 20px;
    color: var(--color-text-primary);
    padding: 5px 8px;
    line-height: 30px;
  }

  .menu {
    display: flex;
    flex: 0 0 auto;
  }

  .menu-item {
    flex: 0 0 auto;
  }

  @media screen and (min-width: 768px) {
    .navigation {
      height: 68px;
      padding: 0 12px;
    }

    .title-link {
      font-size: 22px;
      line-height: 34px;
    }
  }
</style>
